@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #111827;
}
.glass-effect {
    background: rgba(31, 41, 55, 0.7);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.125);
}
